
@media all and (min-width: 1300px){
  .imgsize {
    width: 600px;
  }
  p {
    font-size: 35px;
  }
  h2 {
    font-size: 50px;
  }
  h1 {
    font-size: 70px;
  }
  #sidebar {
    float: left;
    width: 10%;
    height: 4500px;
    font-size: 25px;
    background-color: black;
    color: yellow;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1300px) {
  .imgsize {
    width: 400px
  }
  p {
    font-size: 25px;
    font-weight: lighter;
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 50px;
  }
  #sidebar {
    float: left;
    width: 11%;
    height: 3100px;
    font-size: 20px;
    background-color: black;
    color: yellow;
    text-align: center;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
  .imgsize {
    width: 250px
  }
  p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  #sidebar {
    float: left;
    width: 12%;
    height: 2200px;
    font-size: 15px;
    background-color: black;
    color: yellow;
    text-align: center;
  }
 }

@media all and (max-width: 480px) {
  .imgsize {
    width: 150px
  }
  p {
    font-size: 5px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  #sidebar {
    float: left;
    width: 13%;
    height: 1700px;
    font-size: 10px;
    background-color: black;
    color: yellow;
    text-align: center;
  }
}
