
@media all and (min-width: 1300px){
  .imgsize {
    width: 600px;
  }
  p {
    font-size: 35px;
  }
  h2 {
    font-size: 50px;
  }
  h1 {
    font-size: 70px;
  }
}

@media all and (min-width: 768px) and (max-width: 1300px) {
  .imgsize {
    width: 400px
  }
  p {
    font-size: 25px;
    font-weight: lighter;
  }
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 50px;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
  .imgsize {
    width: 250px
  }
  p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
 }

@media all and (max-width: 480px) {
  .imgsize {
    width: 150px
  }
  p {
    font-size: 5px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
}
